<!Doctype html>
<html>

    <head>
        <meta charset ="utf-8">
        <title>Project Finder | Signup</title>
        <link href="style.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <div class="dash">
            <h1>DASHBOARD<h1>
        </div>

        <nav class="positioned">
           <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="/views/">Account</a>
            </li>
            <li>
                <a href="/public/loggedout.html">Logout</a>
            </li>
        </nav>



    </body>
</html>
