<!Doctype html>
<html>

    <head>
        <meta charset ="utf-8">
        <title>Project Finder | Signup</title>
        <link href="../public/styles.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <div class="dash">
            <h1>DASHBOARD<h1>
        </div>

        <nav class="positioned">
           <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="profile.ejs">Account</a>
            </li>
            <li>
                <a href="../public/loggedout.html">Logout</a>
            </li>
            <li>
                <a href="../public/addproject.html">Add project</a>
            </li>
        </nav>

        <section>
          <div class="welcome">
            <h3>Hey <%= ab[0].Firstname%></h3>
          </div>
        </section>

    


    </body>
</html>
