<!Doctype html>
<html>

    <head>
        <meta charset ="utf-8">
        <title>Project Finder</title>
        <link href="style.css" rel="stylesheet" type="text/css">
            
    </head>

    <body>
        <div class="top">
            <p>Shobitha M</p>
        </div>

        <div class="details">
            <b>
            <p>email me at: xyz@abc.com</p>
            <p>phone number:</p>
            <p>my location</p>
            </b>
        </div>
    </body>

</html>