h1 {
    color: darkblue;
    margin: 10px 350px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
}

p {
    margin-left: 450px;
    margin-top: 15px;
}


.btn {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    border: 1px solid grey;
    color: rgb(8, 100, 43);
    height: 35px;
    width: 120px;
}

nav {
    background-color: peachpuff;
    padding: .5em;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
    padding: .5em 1em;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 5px;
}

.positioned {
    position: sticky;
}

body {
    margin: auto 0;
}

.dash h1{
    color: orangered;
}